

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-bottom: 3rem;
    background: linear-gradient(130deg,#fdefe9 60%, white 50%);
    
    
    
}
nav{
    padding-block: 1rem;
}
.gen_layout{
    max-width: 1000px;
    margin: auto;
}
.inner_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 4rem; */
}



.nav_right{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_items{
    display: flex;
    gap: 2rem;
    
}
nav_items > a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
}
.nav_items > a:first-child{
    color: #ee4f0e;
    font-weight: 600;



}
.btn_btn > button{
    padding: 1rem 1.6rem;
    background-color: #ee4f0e;
    border: none;
    color: #fff;
}
.banner{
    display: flex;
    gap: 14rem;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-left: 4rem; */
}
.banner_content{
    width: 35%;

}
.banner_content > h1{
    font-size: 3rem;
    width: 280px;
}
.banner_content > h1 > span{
    color: #ee4f0e;




}

.banner_content > p{
    width: 280px;
    opacity: .7;
    margin-top: 1rem;
}
.banner_image{
    width: 35%;
    height: 50vh;
    border: 8px solid #f6b59a;
    
    
}
.banner_image > img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    
}  
/* laptops styling */

.laptops_details_card{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    max-width: 600px
    
}
.detail_card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid #ee4f0e;
    padding-inline: 1rem;
}


.detail_card > p{
    text-transform: capitalize;
}
/* about code */
.about_ads{
    background-color: gray;
    margin-block: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 4rem; */
}
.about_content > h5{
    text-transform: uppercase;
    color: #ee4f0e;
    font-size: 1rem;
}
.about_content > h1{
    font-size: 2.5rem;
    width: 350px;
    margin-block: 1.2rem;
    
}
.about_content > p{
    width: 300px;
    opacity: .6;
}
.about_img_vidz{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/lap4.webp) ;
    width: 43%;
    height: 40vh;
    position: relative;
    border-radius: 7px;
}
.about_img_vidz > img{
    filter: blur(1px);
    /* width:100px; */
    margin-left: -2rem;
    margin-top: 2rem;
    height: 100%;
    border-radius: 7px;
}
.about_img_vidz > span{
    position: absolute;
    top: 50%;
    left: 33%;
    display: flex;
    align-items: center;
    /* background-color: #fff; */
    border-radius: 100%;
    width: 60px;
    height: 60px;
    
}
.about_img_vidz > span > i {
    color: #ee4f0e;
    font-size: 1.9rem;
}
/* features styling */

.features > h5{
    color: red;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
}
.features > h1{
    text-align: center;
    font-size: 2rem;
}
.features_cards_wrapper{
    margin-block: 2.5rem;
    display: flex;
    /* grid-column: 1fr 1fr; */
    gap: 1.8rem;
    /* margin-left: 4rem; */

}
.feature_card{
    border-radius: 10px;
    padding: 2rem;
    box-shadow: .2rem .3rem 15px;
    height: 50vh;
    width: 25%;
    background-color: #fff;
    
    
}
.feature_card:first-child{
    background-image: url(/lap3.jpg);
    border: 2px solid;
    
    
}    
.feature_card:nth-child(2){
    background-color: #fdeee7;
    background-image: url(/lap2.jpeg);
    
}
.feature_card:last-child{
    background-image:url(/lap5.jpeg) ;
    background-position: center;
    
    

}
.feature_card > span{
    background-color: #e7effc;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: auto;
}
.feature_card_content{
    margin-block: 1rem;


}
.feature_card_content > h4{
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.feature_card_content > p{
    text-align: center;
    margin-block: 1rem;
    font-size: 14px;

}
.feature_card_content > a{
    display: block;
    color: red;
    text-align: center;
    text-decoration: none;
}
.feature_card_content > a > span{
    color: black;
}
/* gallery code  */
.gallery_in{
    /* background-color: gray; */
    margin-block: 7rem;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

}
.gallery_out > h5{
    text-transform: uppercase;
    color: #ee4f0e;
    font-size: 1rem;
}
.gallery_out > h1{
    text-transform: capitalize;
    font-size: 2.3rem;
    font-weight: 600rem;

}
.gal_in{
    display: flex;
    gap: 1rem;
    font-size: 18px;
    text-transform: capitalize;
    width: 80%;
    
    
}
.gal_in > a{
    color: #000;

    
}.gal_in a:hover{
    color: #ee4f0e;
    cursor: pointer;
}
.ann_in{
    margin-block: 2rem;
    display: flex;
    gap: 1.8rem;
    

}
.ann_out{
    width: 17%;
    height: 17vh;
    /* border: 2px solid red; */
    border-radius: 7px;
    
}
.ann_out > img{
    height: 17vh;
    width: 100%;
}
.ann_out:first-child{
    border: 2px solid #ee4f0e;
}
.ann_out > h3{
    /* border: 2px solid; */
    text-transform: capitalize;
    padding: .5rem;
}

.ann_out > p{
    /* border: 2px solid; */
    padding: .5rem;
    text-transform: capitalize;
}
.ann_out > a{
    padding: .5rem;
    color: black;
}
/* testimony card  */
.testimony{
    margin-bottom: 6rem;
    
    
}
.testimony > h2{
    color: black;
    font-size: 1.7rem;
    text-transform: capitalize;
    /* text-align: center; */
    padding-top: 7rem;
    margin-left: 18rem;
    
    
}
.testimony_card_wrapper{
    margin-block: 2rem;
    display: flex;
    /* grid-column: 1fr 1fr; */
    gap: 5rem;
    /* margin-left: 4rem; */

}
.testimony_card{
    border-radius: 10px;
    /* padding: 2rem; */
    /* box-shadow: .2rem .3rem 15px; */
    height: 39vh;
    width: 350px;
    /* border: 2px solid red; */
    /* display: flex; */
}
.testimony_card > img{
    width: 350px;
    height: 39vh;
}
.testimony_cards{
    border-radius: 10px;
    /* padding: 2rem; */
    /* box-shadow: .2rem .3rem 15px; */
    height: 35vh;
    width: 300px;
    /* background-color: #000; */
    /* border: 2px solid yellow; */
    /* display: flex; */
    
}
.testimony_cards > img{
    width: 65px;
    height: 12vh;
    margin-left: 2rem;
    border-radius: 100%;
}
.testimony_cards > h3{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1rem;
}
.testimony_cards > p{
    font-size: 13px;
    /* border: 2px solid; */
    text-transform: capitalize;
    font-weight: 400;
    width: 8opx;
    /* border: 2px solid red; */
    margin-top: 1rem;
}
.testimon_wrappers{
    margin-block: 2rem;
    display: flex;
    /* grid-column: 1fr 1fr; */
    gap: 5rem;
    /* margin-left: 4rem; */
    margin-top: 5rem;
    


}

.test_cards{
    /* border: 2px solid red; */
    /* padding: 2rem; */
    /* box-shadow: .2rem .3rem 15px; */
    height: 33vh;
    width: 350px;

}
.test_cards > img{
    background-color: #000;
    width: 350px;
    height: 33vh;
}
.testimony_second{
    background-color: wheat;
    width: 355px;
}
.testimony_second >h3{
    margin-top: 3rem;
    text-transform: capitalize;
}
.testimony_second >p{
    font-size: 14px;
    font-family: 500px;
    margin-top: 1rem;
}
.testimony_second > input{
    margin-top: 1.2rem;
    padding-block: .5rem;
    width: 250px;
    font-weight: 100;
}
.testimony_second >input::placeholder{
    font-weight: 100;
    font-size: 12px;
    /* margin-right: -2rem; */
    
}
.testimony_second > label{
    padding: .5rem 1.1rem;
    background-color: #ee4f0e;
    border: none;
    color: #fff;
    
}
.frank{
    background-color: #f6b59a;
    /* height: 30vh; */
    /* margin-bottom: 1rem; */
}
.frank_wrapper{
    display: flex;
    gap: 2rem;
}

.frank_in > h5{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 1rem;
    
}
.frank_in > p{
    font-size: 16px;
    font-weight: 100;
    text-transform: capitalize;


}
.frank_in > h6{
    font-size: 15px;
    font-weight: 100;
    text-transform: capitalize;
}
.frank_in > input{
    margin-top: 1rem;
    margin-left: .3rem;
    width: 150px;
    padding-block: .6rem;
    color: #fdeee7;
    font-weight: 100;


}
.frank_in > input::placeholder{
    font-weight: 100;
   
}
.frank_in > label{
    padding: .5rem 1.1rem;
    background-color: #ee4f0e;
    border: none;
    color: #fff;
}
.sept_in{
    margin-top: .6rem;
    
    
}
.sept_in > img{
    height: 3vh;
    width: 20px;
    
    
}
.men_in{
    text-align: center;
    margin-top: 3rem;
    font-size: 18px;
    font-weight: 100;
    text-transform: capitalize;
}
/* responsiveness code  */
@media (min-width: 320px) and (max-width: 460px) {
    .inner_nav {
        width: calc(100% - 30px);
    }
    label{
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .nav_items {
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .nav_items > a{
        width: 100%;
        color: #000;
        font-size: 18px;
        padding: 0.6rem;
        text-align: right;
        border-bottom: 2px solid #ee4f0e;
    }
    .nav_items > a:last-child{
        margin-bottom: 1.5rem;
    }
    .nav_right{
        display: none;
        position: absolute;
        width: 340px;
        padding: 1.8rem;
        top: 4.4rem;
        right: 3px;
        z-index: 1;
        background-color: #e9eceb;
        opacity: .97;
        border-bottom: 4px solid #ee4f0e;
    }
    #toggle:checked + .nav_right {
        display: block;
        transform:  none;
    }
    .banner {
        width: calc(100% - 30px);
        flex-direction: column;
        gap: 5rem;
    }

}  


